:root {

	--humidity-percent: 69;
	--compas-deg: 30;
	--modal-search-left-position: -90%;
}

.search-modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--modal-search-left-position);

	width: 100%;
	padding: 1em;

	background-color: hwb(234 12% 73%);
	color: #f2f2f2;

	transition: left 300ms;

	display: flex;
	flex-direction: column;
	gap: 2em;
}

.container-search-input {
	@apply border-2 border-[#E7E7EB] flex items-center;

}

.humidity-bar {
	position: relative;
	padding-bottom: .5em;

	&::before {
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;

		@apply border-[3px] border-white rounded;
	}

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		width: calc(var(--humidity-percent) * 1%);

		@apply border-[3px] border-[#FFEC65] rounded;
	}
}

.compas-wind {
	transform: rotate(calc(var(--compas-deg) * 1deg));
}