:root {

	--humidity-percent: 69;
	--compas-deg: 30;
	--modal-search-left-position: -90%;
}

.search-modal {
	position: absolute;
	top: 0;
	bottom: 0;
	left: var(--modal-search-left-position);

	width: 100%;
	padding: 1em;

	background-color: #1f2245;
	color: #f2f2f2;

	transition: left 300ms;

	display: flex;
	flex-direction: column;
	gap: 2em;
}

.search-suggestion {
	@apply transition-colors p-4 font-medium border-[1px] text-[#1f2245] border-transparent flex items-center justify-between;

	& span {
		color: #E7E7EB;
	}

	&:hover {
		@apply border-[#616475] text-[#616475];
	}
}

.container-search-input {
	@apply transition-colors flex-grow p-3 border-[1px] border-[#E7E7EB] text-[#616475] font-medium flex items-center gap-2;

	&:focus-within {
		border-color: #616475;
		color: #E7E7EB;
	}

	& input {
		background-color: inherit;

		&:focus {
			border: none;
			outline: none;
		}
	}

}

.humidity-bar {
	position: relative;
	padding-bottom: .5em;

	&::before {
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;

		@apply border-[3px] border-white rounded;
	}

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		width: calc(var(--humidity-percent) * 1%);

		@apply border-[3px] border-[#FFEC65] rounded;
	}
}

.compas-wind {
	transform: rotate(calc(var(--compas-deg) * 1deg));
}