:root {
	// TODO: update humidity css variable
	--humidity-percent: 69;
}

.humidity-bar {
	position: relative;
	padding-bottom: .5em;

	&::before {
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;

		@apply border-[3px] border-white rounded;
	}

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		width: calc(var(--humidity-percent) * 1%);

		@apply border-[3px] border-[#FFEC65] rounded;
	}
}